/*@import "tailwindcss";*/

/*@plugin './hero.ts';*/
/*@source '../node_modules/@heroui/theme/dist!**!*.{js,ts,jsx,tsx}';*/
/*@custom-variant dark (&:is(.dark *));*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}