services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/seawar
      - PORT=5000
    depends_on:
      - mongo

  client-builder:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: seawars-client-builder
    volumes:
      - ./client-files:/client/dist

volumes:
  mongo-data:
