.cross {
    position: relative;
}
.cross::before,
.cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ef4444; /* red-500 */
    transform-origin: center;
}
.cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}