/*@import "tailwindcss";*/

/*@plugin './hero.ts';*/
/*@source '../node_modules/@heroui/theme/dist!**!*.{js,ts,jsx,tsx}';*/
/*@custom-variant dark (&:is(.dark *));*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CSGOFont';
    src: url('/fonts/cs_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #919BFF, #133A94);
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #a5afff, #2c54b2);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #919BFF #133A94;
}