/*@import "tailwindcss";*/

/*@plugin './hero.ts';*/
/*@source '../node_modules/@heroui/theme/dist!**!*.{js,ts,jsx,tsx}';*/
/*@custom-variant dark (&:is(.dark *));*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CSGOFont';
    src: url('/fonts/cs_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
